#choices-div {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    height: 55%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choice-btn {
    width: 300px;
    height: 65px;

    position: relative;  

    background-color: rgb(238, 200, 170);
    border-radius: 10px;
    border: 4px solid rgb(68, 53, 32);

    transition: all 0.2s ease;

    font-size: 35px;
    font-family: "PixelFont", sans-serif;
}

.choice-btn:hover {
    background-color: rgb(255, 220, 190);
    border-color: rgb(88, 73, 52);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(68, 53, 32, 0.4);
    cursor: pointer;
}

#choices-div.hide {
    display: none !important;
}

#choices-div.show {
    display: flex !important;
}